@import "https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css",
"https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css";
* {
	margin: 0;
    padding: 0px;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
}
body {
	margin: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

.button{
    border-radius: 5px;
    background-color: tomato;
    color:white;
	padding: 4px 35px;
	margin-bottom: 5px;
    margin-right: 40px;
    border: none;
	position: absolute; 
	right: 0;
  }
.element {
	padding: 0px 60px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
}
.thead{
	background-color:lightblue;
	color: azure;
}

.box-shadow {
	padding: 0px 60px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
}

.box-shadow-row {
	padding: 0px 60px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
}
.table {
margin-top: 30px;
}